<!-- <p id="notice"><%= notice %></p> -->

<p>
  <b>User:</b>
  <%= @post.user_id %>
</p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Image:</b>
  <%= image_tag @post.url.url %>
  <%= image_tag @post.url.url(:medium) %>
  <%= image_tag @post.url.url(:thumb) %>
</p>

<p>
  <b>Rating:</b>
  <%= @post.rating %>
</p>

<p class="stars floatstars">
    <%= pluralize(@post.count_dislikes, "vote") %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

<section id="rating">   
  <% if user_signed_in? %>
      <%= form_for [@post, @rating_currentuser] do |f| %>
          <div id="ratingbox">
              <ul id="ratingbuttons">
                  <li><%= f.radio_button :rate, "-1" %><span>dislike</span></li>
                  <li><%= f.radio_button :rate, "1" %><span>like</span></li>                     
              </ul>
              <div class="center"><%= f.submit "submit", :class => "awesome custom red" %></div>
          </div>
      <% end %>
  <% else %>
      <div id="ratingbox"><%= link_to "Sign in", signin_path %> to rate this article</div>
  <% end %>   
</section>



<section id="comments"> 
  <% @comments.each do |comment| %>
      <article class="comment">      
          <div class="avatar"><%= image_tag gravatar(comment.user.email, 48) %></div>
          <div class="commentbody">
              <div class="commenthead">               
                <%= comment.user.name %> - <%=time_ago_in_words(comment.created_at)%> ago 
                <% # display delete link only for comments written by this particular user %>
                <% if user_signed_in? and comment.user_id == current_user.id %>
                    <span><%= link_to 'delete', post_comment_path(@post, comment), :confirm => 'Are you sure?', :method => :delete, :class => "" %></span>
                <% end %> 
              </div>
              <div><%= comment.body %></div>
          </div>  
      </article>
  <% end %>

  <% # add a new comment %>   
  <article class="comment newcomment">            
      <% if user_signed_in? %>
          <div class="avatar"><%= image_tag gravatar(current_user.email, 48) %></div>
          <div class="commentbody">
            <div class="commenthead">
                <%= current_user.name %>
            </div>
            <div>
                <%= form_for [@post, current_user.comments.new] do |f| %>
                    <%= f.text_area :body, :class => "fullwidth" %>
                    <%= f.submit "Add Comment", :class => "awesome custom red" %>
                <% end %>               
            </div>
          </div>  
      <% else %>
          <div class="signin">
              Please <%= link_to "sign in", signin_path %> before posting a comment.
          </div>
      <% end %>
  </article>
</section>