<!-- <p id="notice"><%= notice %></p> -->

<p>
  <b>User:</b>
  <%= @post.user_id %>
</p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Url:</b>
  <%= @post.url %>
</p>

<p>
  <b>Rating:</b>
  <%= @post.rating %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

<section id="comments"> 
  <% @comments.each do |comment| %>
      <article class="comment">      
          <div class="avatar"><%= image_tag "#" %></div>
          <div class="commentbody">
              <div class="commenthead">               
                <%= comment.user.name %> - <%=time_ago_in_words(comment.created_at)%> ago 
                <% # display delete link only for comments written by this particular user %>
                <% if user_signed_in? and comment.user_id == current_user.id %>
                    <span><%= link_to 'delete', post_comment_path(@post, comment), :confirm => 'Are you sure?', :method => :delete, :class => "" %></span>
                <% end %> 
              </div>
              <div><%= comment.body %></div>
          </div>  
      </article>
  <% end %>

  <% # add a new comment %>   
  <article class="comment newcomment">            
          <% if user_signed_in? %>
              <div class="avatar"><%= image_tag "#" %></div>
              <div class="commentbody">
                  <% if current_user.name == nil or current_user.name == '' %>
                      <div class="commenthead">
                          Please complete your <%= link_to "profile", edit_user_registration_path %> before posting comments.
                      </div>
                  <% else %>              
                      <div class="commenthead">
                          <%= current_user.name %>
                      </div>
                      <div>
                          <%= form_for [@post, current_user.comments.new] do |f| %>
                              <%= f.text_area :body, :class => "fullwidth" %>
                              <%= f.submit "Add Comment", :class => "awesome custom red" %>
                          <% end %>               
                      </div>          
                  <% end %>
              </div>  
          <% else %>
              <div class="signin">
                  Please <%= link_to "sign in", new_user_session_path %> before posting a comment.
              </div>
          <% end %>
  </article>
</section>